<div class="row">
    <div class="col-md-12">
        <h1 class="page-header"><i class="fa fa-users"></i> Grupos</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-list-alt"></i> Lista de grupos
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <table st-table="groups.data" st-pipe="groups.search" class="table table-hover ">
            <thead>
            <tr>
                <th st-sort="days" class="text-center sortable-header">Días</th>
                <th st-sort="hour" class="text-center sortable-header">Hora</th>
                <th st-sort="level" class="text-center sortable-header">Nivel</th>
                <th class="text-center">Actividad</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="group in groups.data track by group.id">
                <td class="vertical-middle text-center">{{ group.days | daysArray }}</td>
                <td class="vertical-middle text-center">{{ group.hour | hour }}</td>
                <td class="vertical-middle text-center">{{ group.level | translateLevel }}</td>
                <td class="vertical-middle text-center">{{ group.activity.name }}</td>
                <td class="text-center vertical-middle">
                    <ul class="list-inline">
                        <li>
                            <a ng-click="groups.deleteGroup(group)" class="btn btn-lg">
                                <i class="fa fa-trash-o text-danger"></i>
                            </a>
                        </li>
                        <li>
                            <a ng-click="groups.openModal(group)" class="btn btn-lg">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td class="text-center" st-pagination="" st-items-by-page="10" colspan="4"></td>
            </tr>
            </tfoot>
        </table>

    </div>
</div>
<div class="row">
    <div class="col-md-9 text-right">
        <button ng-click="groups.openModal()" class="btn btn-circle"><i class="fa fa-plus"></i></button>
    </div>
</div>