<div class="modal-header">
    <button type="button" class="close" ng-click="modal.dismiss()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">{{modal.title}}</h4>
</div>
<div class="modal-body">
    <form novalidate name="passTypeForm">
        <div class="form-group" show-errors>
            <label for="activity" class="control-label">Selecciones la actividad</label>
            <select name="activity" id="activity" class="form-control" ng-model="modal.passType.activity"
                    ng-options="item.activity as item.activity.name for item in modal.activities" required></select>
        </div>
        <div class="form-group" show-errors>
            <label for="numberOfSessions" class="control-label">Número de sesiones</label>
            <input type="number" id="numberOfSessions" ng-model="modal.passType.numberOfSessions" name="numberOfSessions" class="form-control" required>
            <div ng-messages="passTypeForm.numberOfSessions.$error" class="help-block" role="alert">
                <div ng-messages-include="scripts/components/errors/errors.html"></div>
            </div>
        </div>
        <div class="form-group" show-errors="{showFeedback: false}">
            <label for="basePrice" class="control-label">Precio base</label>
            <div class="input-group">
                <input currency type="number" id="basePrice" name="basePrice" ng-model="modal.passType.basePrice"
                       required class="form-control" step="1" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/">
                <span class="btn btn-default input-group-addon">
                    <i class="fa fa-eur"></i>
                </span>
            </div>    
            <div ng-messages="passTypeForm.basePrice.$error" class="help-block" role="alert">
                <div ng-messages-include="scripts/components/errors/errors.html"></div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="modal.dismiss()">Cancelar</button>
    <button type="button" class="btn btn-primary" ng-click="modal.savePassType()">Guardar</button>
</div>