<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-money"></i> Gastos
            </li>
        </ol>
    </div>
</div>
<ul class="nav nav-pills">
    <li role="presentation" class="active">
        <a href="#exceptionalExpenses" role="tab" data-toggle="tab">Puntuales</a>
    </li>
    <li role="presentation">
        <a href="#regularExpenses"  role="tab" data-toggle="tab">Periódicos</a>
    </li>
</ul>
<div class="tab-content spaced-tab-content ">
    <div role="tabpanel" class="tab-pane active fade in" id="exceptionalExpenses">
        <h4 class="text-muted text-center" ng-if="!expensesCtrl.expenses.length">No hay gastos registrados registrados</h4>
        <div class="col-xs-8 col-xs-offset-2" ng-show="expensesCtrl.expenses.length">
            <table class="table table-hover table-condensed" st-table="expensesCtrl.expenses" st-pipe="expensesCtrl.searchExceptional">
                <thead>
                <tr>
                    <th st-sort="description" class="pointer">Concepto</th>
                    <th st-sort="expenseDate" class="pointer text-center">Fecha</th>
                    <th st-sort="amount" class="pointer text-center">Cantidad</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="expense in expensesCtrl.expenses">
                    <td class="vertical-middle">{{expense.description}}</td>
                    <td class="vertical-middle text-center">{{expense.expenseDate | date:'dd/MM/yyyy'}}</td>
                    <td class="vertical-middle text-center">{{expense.money | currency}}</td>
                    <td class="vertical-middle text-center">
                        <a ng-click="expensesCtrl.delete(expense)" class="btn btn-lg"><i class="fa fa-trash-o text-danger"></i></a>
                        <a ng-click="expensesCtrl.openModal(expense)" class="btn btn-lg"><i class="fa fa-pencil"></i></a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td class="text-center" st-pagination="" st-items-by-page="10" colspan="4"></td>
                </tr>
                </tfoot>
            </table>
        </div>

    </div>
    <div role="tabpanel"  class="tab-pane fade" id="regularExpenses">
        <div class="col-xs-8 col-xs-offset-2">
            <h4 class="text-muted animate-if text-center" ng-show="!expensesCtrl.regularExpenses.length">No hay gastos periódicos registrados</h4>
            <table class="table table-hover table-condensed animate-if" st-table="expensesCtrl.regularExpenses" ng-show="expensesCtrl.regularExpenses.length" st-pipe="expensesCtrl.searchRegular">
                <thead>
                <tr>
                    <th st-sort="description" class="pointer">Concepto</th>
                    <th st-sort="frequency" class="pointer">Frecuencia</th>
                    <th st-sort="expenseDate" class="pointer text-center">Fecha</th>
                    <th st-sort="endDate" class="pointer text-center">Fecha final</th>
                    <th st-sort="amount" class="pointer text-center">Cantidad</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="expense in expensesCtrl.regularExpenses">
                    <td class="vertical-middle">{{expense.description}}</td>
                    <td class="vertical-middle">{{expensesCtrl.config.frequencies[expense.frequency]}}</td>
                    <td class="vertical-middle text-center">{{expense.expenseDate | date:'dd/MM/yyyy'}}</td>
                    <td class="vertical-middle text-center">{{expense.endDate ? (expense.endDate | date:'dd/MM/yyyy') : 'Abierta'}}</td>
                    <td class="vertical-middle text-center">{{expense.money | currency}}</td>
                    <td class="vertical-middle">
                        <a ng-click="expensesCtrl.delete(expense)" class="btn btn-lg"><i class="fa fa-trash-o text-danger"></i></a>
                        <a ng-click="expensesCtrl.openModal(expense)" class="btn btn-lg"><i class="fa fa-pencil"></i></a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td class="text-center" st-pagination="" st-items-by-page="10" colspan="4"></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-9 text-right">
        <button class="btn btn-circle" ng-click="expensesCtrl.openModal()"><i class="fa fa-plus"></i></button>
    </div>
</div>