<div class="modal-header">
    <button type="button" class="close" ng-click="modal.dismiss()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">{{modal.title}}</h4>
</div>
<div class="modal-body">
    <form novalidate name="expenseForm">
        <div class="form-group has-feedback" show-errors>
            <label for="expenseDate" class="control-label">Fecha de pago</label>

            <div class="input-group">
                <input type="text" class="form-control" id="expenseDate" name="expenseDate"
                       uib-datepicker-popup
                       is-open="modal.expenseDatepicker.opened"
                       ng-model="modal.expense.date"
                       ng-pattern="/^(\d{2})\/(\d{2})\/(\d{4})$/" required>
                <span class="btn btn-default input-group-addon"
                      ng-click="modal.expenseDatepicker.opened = true">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        </div>
        <div class="form-group has-feedback">
            <label for="frequency">Frecuencia</label>
            <select name="frequency" id="frequency" ng-model="modal.expense.amount">

            </select>
        </div>
        <div class="form-group has-feedback">
            <label for="amount" class="control-label">Cantidad</label>
            <input type="number" class="form-control" name="amount" id="amount" ng-model="modal.expense.amount">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="modal.dismiss()">Cancelar</button>
    <button type="button" class="btn btn-primary" ng-click="modal.saveExpense()">Guardar</button>
</div>