.font-awesome-icon {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: white;
  font-size: 18px;
  padding-right: 0.5em;
}

.st-sort-ascent:before{
  content: "\f106";
  @extend .font-awesome-icon;
}

.st-sort-descent:before{
  content: "\f107";
  @extend .font-awesome-icon;
}

table.table.table-light {
  thead {
    background-color: white;
    color: black;
  }
  tbody {
    tr{
      td {
        border-bottom: 1px solid #ddd;
      }
    }
  }
}

table.table {
  thead {
    background-color: $corestudio-black;
    color: white;
    tr {
      th {
        line-height: 18px;
      }
    }
  }
  tbody {
    tr {
      td {
        vertical-align: middle;
        border-color: $corestudio-gold;
      }
    }
  }
}

.sortable-header {
  cursor: pointer;
}
