<div class="row">
    <div class="col-md-12">
        <h1 class="page-header"><i class="fa fa-calculator"></i> Contabilidad</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-list-alt"></i> Detalles por actividad
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-center">
        <ul class="list-inline">
            <li>
                 <button class="btn btn-default" ng-click="accountsCtrl.previousMonth()"><i class="fa fa-chevron-left" ></i></button>
            </li>
            <li>
                <div class="form-group text-left">
                    <label for="selectDate">Seleccione el año y el mes</label>
                    <input class="form-control text-center" id="selectDate" type="text"
                           ng-model="accountsCtrl.selectedDate" uib-datepicker-popup="MMMM - yyyy"
                           datepicker-mode="'month'"
                           is-open="accountsCtrl.opened" ng-click="accountsCtrl.opened = !accountsCtrl.opened"
                           datepicker-options="{minMode: 'month'}"
                           ng-change="accountsCtrl.getAccounts()"/>
                </div>
            </li>
            <li>
                <button class="btn btn-default" ng-click="accountsCtrl.nextMonth()"><i class="fa fa-chevron-right"></i></button>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading" data-toggle="collapse" data-target="#total">
                <h3 class="no-margin text-center">Total</h3>
            </div>
            <div class="collapse in" id="total">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 text-right">
                            <strong>Ingresos:</strong>
                        </div>
                        <div class="col-xs-6">
                            {{accountsCtrl.getTotalIncomesAmount() | currency}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 text-right">
                            <strong>Gastos:</strong>
                        </div>
                        <div class="col-xs-6">
                            {{accountsCtrl.getTotalExpenses() | currency}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 text-right">
                            <strong>Total:</strong>
                        </div>
                        <div class="col-xs-6">
                            {{accountsCtrl.getTotalIncomesAmount() - accountsCtrl.getTotalExpenses() | currency}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 right-bordered">
        <h2 class="text-center text-info">Ingresos</h2>

        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-info">
                    <div class="panel-heading" data-toggle="collapse" data-target="#totalIncomes">
                        <h4 class="no-margin">Total</h4>
                    </div>
                    <div class="collapse in" id="totalIncomes">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-6 text-right">
                                    <strong>Número de sesiones:</strong>
                                </div>
                                <div class="col-xs-6">
                                    {{accountsCtrl.getTotalIncomesSessions()}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 text-right">
                                    <strong>Total:</strong>
                                </div>
                                <div class="col-xs-6">
                                    {{accountsCtrl.getTotalIncomesAmount() | currency}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-repeat="account in accountsCtrl.accounts.incomes">
            <div class="col-xs-12">
                <div class="panel panel-info">
                    <div class="panel-heading pointer" data-toggle="collapse" data-target="#{{account.type | toUnderscore}}">
                        <h4 class="no-margin">
                            {{account.type}}<span class="pull-right">{{account.totalIncomes | currency}}</span>
                        </h4>
                    </div>
                    <div class="collapse in" id="{{account.type | toUnderscore}}">
                        <div class="panel-body">
                            <div class="row" ng-repeat="activityIncome in account.activitiesIncomes">
                                <div class="col-xs-12">
                                    <h4 class="page-header pointer" data-toggle="collapse" data-target="#{{activityIncome.activityName | toUnderscore}}">
                                        {{activityIncome.activityName}}
                                        <span class="pull-right">{{activityIncome.money | currency}}</span>
                                    </h4>

                                    <div class="row collapse in" id="{{activityIncome.activityName | toUnderscore}}">
                                        <div class="col-xs-10 col-xs-offset-1">
                                            <table class="table table-light table-hover" st-table="activityIncome.passTypeIncomes">
                                                <thead>
                                                <tr>
                                                    <th class="text-left pointer">Tipo de bono</th>
                                                    <th class="text-center pointer">Sesiones</th>
                                                    <th class="text-right pointer">Total</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="passTypeIncome in activityIncome.passTypeIncomes">
                                                    <td class="vertical-middle">{{passTypeIncome.passTypeName}}</td>
                                                    <td class="vertical-middle text-center">{{passTypeIncome.numberOfSessions}}
                                                    </td>
                                                    <td class="vertical-middle text-right">{{passTypeIncome.money | currency}}
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <h2 class="text-center text-info">Gastos</h2>

        <div class="panel panel-info">
            <div class="panel-heading" data-toggle="collapse" data-target="#salaries">
                <h4 class="no-margin">
                    Salarios
                    <span class="pull-right">{{accountsCtrl.getTotalSalariesAmount() | currency}}</span>
                </h4>
            </div>
            <div class="collapse in" id="salaries">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1" ng-show="accountsCtrl.accounts.salaries.length">
                            <table class="table table-light table-hover" st-table="accountsCtrl.accounts.salaries">
                                <thead>
                                <tr>
                                    <th class="text-left">Profesor</th>
                                    <th class="text-center">Sesiones</th>
                                    <th class="text-right">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="salary in accountsCtrl.accounts.salaries">
                                    <td class="vertical-middle">{{salary.professorName}}</td>
                                    <td class="vertical-middle text-center">{{salary.numberOfSessions}}</td>
                                    <td class="vertical-middle text-right">{{salary.numberOfSessions * 16 | currency}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading" data-toggle="collapse" data-target="#expenses">
                <h4 class="no-margin">
                    Gastos
                    <span class="pull-right">{{accountsCtrl.getTotalExpensesAmount() | currency}}</span>
                </h4>
            </div>
            <div class="collapse in" id="expenses">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1" ng-show="accountsCtrl.accounts.expenses.length">
                            <table class="table table-light table-hover" st-table="accountsCtrl.accounts.expenses">
                                <thead>
                                <tr>
                                    <th class="text-left">Concepto</th>
                                    <th class="text-center">Tipo</th>
                                    <th class="text-right">Cantidad</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="expense in accountsCtrl.accounts.expenses">
                                    <td class="vertical-middle">{{expense.description}}</td>
                                    <td class="vertical-middle text-center">{{accountsCtrl.frequencies[expense.frequency]}}</td>
                                    <td class="vertical-middle text-right">{{expense.money | currency}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


