<div class="row">
    <div class="col-md-12">
        <h1 class="page-header"><i class="fa fa-calculator"></i> Contabilidad</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-list-alt"></i> Detalles por actividad
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-center">
        <ul class="list-inline">
            <li>
            </li>
            <li>
                <div class="form-group text-left">
                    <label for="selectDate">Seleccione el año y el mes</label>
                    <input class="form-control text-center" id="selectDate" type="text"
                           ng-model="accountsCtrl.selectedDate" uib-datepicker-popup="MMMM - yyyy"
                           datepicker-mode="'month'"
                           is-open="accountsCtrl.opened" ng-click="accountsCtrl.opened = !accountsCtrl.opened"
                           datepicker-options="{minMode: 'month'}"/>
                </div>

            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading" data-toggle="collapse" data-target="#total">
                <h4 class="no-margin">Total</h4>
            </div>
            <div class="collapse in" id="total">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 text-right">
                            <strong>Número de sesiones:</strong>
                        </div>
                        <div class="col-xs-6">
                            {{accountsCtrl.getTotalSessions()}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 text-right">
                            <strong>Total:</strong>
                        </div>
                        <div class="col-xs-6">
                            {{accountsCtrl.getTotalAmount() | currency}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-repeat="account in accountsCtrl.accounts">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading pointer" data-toggle="collapse" data-target="#{{account.type | toUnderscore}}">
                <h4 class="no-margin">
                    {{account.type}}<span class="pull-right">{{accountsCtrl.getTotalAccount(account.map) | currency}}</span>
                </h4>
            </div>
            <div class="collapse in" id="{{account.type | toUnderscore}}">
                <div class="panel-body">
                    <div class="row" ng-repeat="(activityKey, activityValue) in account.map">
                        <div class="col-xs-12">
                            <h4 class="page-header pointer" data-toggle="collapse" data-target="#{{activityKey | toUnderscore}}">
                                {{activityKey}}
                                <span class="pull-right">{{accountsCtrl.getTotalActivity(activityValue.map) | currency}}</span>
                            </h4>

                            <div class="row collapse in" id="{{activityKey | toUnderscore}}">
                                <div class="col-xs-10 col-xs-offset-1">
                                    <table class="table table-light table-hover" st-table="activityValue.map">
                                        <thead>
                                        <tr>
                                            <th st-sort="" class="text-center">Tipo de bono</th>
                                            <th st-sort="" class="text-center">Número de sesiones</th>
                                            <th st-sort="" class="text-center">Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="(passTypeKey, passTypeValue) in activityValue.map">
                                            <td class="vertical-middle">{{passTypeKey}}</td>
                                            <td class="vertical-middle text-center">{{passTypeValue.numberOfSessions}}
                                            </td>
                                            <td class="vertical-middle text-right">{{passTypeValue.incomes / 100 | currency}}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--<div class="row" ng-repeat="(passTypeKey, passTypeValue) in activityValue.map">-->
                            <!--<div class="col-xs-10 col-xs-offset-1">-->

                            <!--<div class="row">-->
                            <!--<h4 class="col-xs-4">{{passTypeKey}}</h4>-->

                            <!--<div class="col-xs-4 text-center">-->
                            <!--<strong>Número de sesiones:</strong>-->
                            <!--</div>-->
                            <!--<div class="col-xs-6">-->
                            <!--{{passTypeValue.numberOfSessions}}-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row">-->
                            <!--<div class="col-xs-6 text-right">-->
                            <!--<strong>Total cobrado:</strong>-->
                            <!--</div>-->
                            <!--<div class="col-xs-6">-->
                            <!--{{passTypeValue.incomes / 100 | currency}}-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

