<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
        <ul class="list-inline">
            <li>
                <button class="btn btn-default" ng-click="sessionsCtrl.previousYear()"><i
                        class="fa fa-chevron-left"></i></button>
            </li>
            <li>
                <div class="form-group">
                    <label for="selectYear">Seleccione el año</label>
                    <select id="selectYear" class="form-control"
                            ng-change="sessionsCtrl.updateSessions(sessionsCtrl.year)"
                            ng-options="year for year in sessionsCtrl.yearsList" ng-model="sessionsCtrl.year"></select>
                </div>
            </li>
            <li>
                <button class="btn btn-default" ng-click="sessionsCtrl.nextYear()"><i class="fa fa-chevron-right"></i>
                </button>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <form name="sessionsForm" class="col-md-6 col-md-offset-3">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="text-center">Mes</th>
                <th class="text-center">Sesiones</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="month in sessionsCtrl.months">
                <td>{{month.name}}</td>
                <td>
                    <div class="form-group" show-errors="{showFeedback: false}">
                        <input type="number" name="sessions" min="0" ng-model="month.numberOfSessions"
                               ng-disabled="!month.editing" required class="form-control text-center">
                    </div>
                </td>
                <td>
                    <a ng-click="sessionsCtrl.initEditing(month)" ng-show="!month.editing" class="btn btn-lg"><i class="fa fa-pencil"></i></a>
                    <ul class="list-inline" ng-show="month.editing">
                        <li>
                            <a ng-click="sessionsCtrl.cancelEditing(month)" class="btn btn-lg"><i class="fa fa-times text-danger"></i></a>
                        </li>
                        <li>
                            <a ng-click="sessionsCtrl.saveSessions($index, month)" class="btn btn-lg"><i class="fa fa-check text-success"></i></a>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>