<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-list-alt"></i> Lista de profesores
            </li>
        </ol>
    </div>
</div>
<div class="row" ng-show="professorsListCtrl.data.length">
    <div class="col-md-12">
        <table st-table="professorsListCtrl.data" st-pipe="professorsListCtrl.search" class="table table-hover ">
            <thead>
            <tr>
                <th></th>
                <th class="sortable-header" st-sort="name" st-sort-default="true">Nombre</th>
                <th class="text-center">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="professor in professorsListCtrl.data track by professor.id">
                <td class="vertical-middle"><img src="assets/images/face.png" alt="fotoProfesor" class="img-circle img-responsive profile-small center-block"/></td>
                <td class="vertical-middle">{{ professor.name + ' ' + professor.firstSurname}}</td>
                <td class="text-center vertical-middle">
                    <a class="btn btn-lg" ui-sref="professors.viewProfessor.personal({id: professor.id, permalink: '{{ professor | permalink | replaceAccents }}'})"><i class="fa fa-eye"></i></a>
                    <a class="btn btn-lg" ui-sref="professors.editProfessor({id: professor.id, permalink: '{{ professor | permalink | replaceAccents }}'})"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td class="text-center" st-pagination="" st-items-by-page="10" colspan="4"></td>
            </tr>
            </tfoot>
        </table>

    </div>
</div>
<div class="row" ng-if="!professorsListCtrl.data.length">
    <div class="col-md-12">
        <h4 class="text-muted text-center">No hay profesores registrados</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-right">
        <button ui-sref="professors.newProfessor" class="btn btn-circle"><i class="fa fa-plus"></i></button>
    </div>
</div>