// Import custom Bootstrap variables
@import "bootstrap-variables";
// Import Bootstrap for Sass
@import "lib/bootstrap/bootstrap";

.login-panel, .login-panel.panel-heading {
  background-color: $corestudio-black;
  border: none;
  color: $gray-lighter;
  padding: 1% 0 5% 0;
  box-shadow: 0 9px 11px -5px rgba(0, 0, 0, 0.2), 0 18px 28px 2px rgba(0, 0, 0, 0.14), 0 7px 34px 6px rgba(0, 0, 0, 0.12);
  @include border-bottom-radius(0);
  @include border-top-radius(0);
}

.panel-heading.login-panel-heading {
  background-color: $corestudio-black;
  border: none;
}

.container {
  //padding: 10% 0;
}

.login-logo {
  margin: 15% 0;
  -webkit-box-shadow: 0 0 5px 2.5px rgba(138, 138, 138, 1);
  -moz-box-shadow: 0 0 5px 2.5px rgba(138, 138, 138, 1);
  box-shadow: 0 0 5px 2.5px rgba(138, 138, 138, 1);
}

.login-content {
  @extend .col-xs-10;
  @extend .col-sm-8;
  @extend .col-md-6;
  @extend .col-lg-4;
  @extend .col-xs-offset-1;
  @extend .col-sm-offset-2;
  @extend .col-md-offset-3;
  @extend .col-lg-offset-4;
  //padding-top: 7%;
}

body.login-page {

  background: #B8B4B1;
  #wrapper {
    padding: 0;
  }
}

footer.login-page {
  width: 100%;
  text-align: center;
}
