<div class="row">
    <div class="col-md-9">
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa" ng-class="clientForm.classArea"></i> {{clientForm.area}}
            </li>
        </ol>
    </div>
</div>

<form class="row client-header" name="userForm" novalidate>
    <div class="col-md-12">
        <div class="row vertical-align">
            <div class="col-md-3">
                <img src="assets/images/face.png" class="img-circle img-responsive profile-size">
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group has-feedback" show-errors>
                            <label class="control-label" for="name">Nombre</label>
                            <input type="text" class="form-control" id="name" name="name"
                                   ng-model="clientForm.client.name" required/>

                            <div ng-messages="userForm.name.$error" class="help-block" role="alert">
                                <div ng-messages-include="scripts/components/errors/errors.html"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group has-feedback" show-errors>
                            <label class="control-label" for="firstSurname">Primer apellido</label>
                            <input type="text" class="form-control" id="firstSurname" name="firstSurname"
                                   ng-model="clientForm.client.firstSurname" required/>

                            <div ng-messages="userForm.firstSurname.$error" class="help-block" role="alert">
                                <div ng-messages-include="scripts/components/errors/errors.html"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group has-feedback" show-errors>
                            <label class="control-label" for="secondSurname">Segundo apellido</label>
                            <input type="text" class="form-control" id="secondSurname" name="secondSurname"
                                   ng-model="clientForm.client.secondSurname"/>

                            <div ng-messages="userForm.secondSurname.$error" class="help-block" role="alert">
                                <div ng-messages-include="scripts/components/errors/errors.html"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <div class="form-group">
                    <label for="address"
                           class="col-md-6 control-label horizontal-control-label text-right">Dirección</label>

                    <div class="col-md-4 input-group">
                        <input type="text" class="form-control" id="address" ng-model="clientForm.client.address">
                    </div>
                </div>
                <div class="form-group has-feedback" show-errors>
                    <label for="firstPhone" class="col-md-6 control-label horizontal-control-label text-right">Teléfono
                        1</label>

                    <div class="col-md-4 input-group">
                        <div class="input-group">
                            <input type="text" class="form-control" id="firstPhone" name="firstPhone"
                                   ng-model="clientForm.client.firstPhone" ng-pattern="/^[0-9]{9}$/" required>
                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                        </div>
                        <div ng-messages="userForm.firstPhone.$error" class="help-block" role="alert">
                            <div ng-messages-include="scripts/components/errors/errors.html"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group has-feedback" show-errors="{showSuccess: false}">
                    <label for="secondPhone" class="col-md-6 control-label horizontal-control-label text-right">Teléfono
                        2</label>

                    <div class="col-md-4 input-group">
                        <div class="input-group">
                            <input type="text" class="form-control" id="secondPhone" name="secondPhone"
                                   ng-model="clientForm.client.secondPhone" ng-pattern="/^[0-9]{9}$/">
                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                        </div>
                        <div ng-messages="userForm.secondPhone.$error" class="help-block" role="alert">
                            <div ng-messages-include="scripts/components/errors/errors.html"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group has-feedback" show-errors="{showSuccess: false}">
                    <label for="email" class="col-md-6 control-label horizontal-control-label text-right">Correo
                        electrónico</label>

                    <div class="col-md-4 input-group">
                        <input type="email" class="form-control" id="email" name="email"
                               ng-model="clientForm.client.email">
                        <span class="input-group-addon"><i class="fa fa-at"></i></span>

                        <div ng-messages="userForm.email.$error" class="help-block" role="alert">
                            <div ng-messages-include="scripts/components/errors/errors.html"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group has-feedback" show-errors="{showSuccess: false}">
                    <label for="birthdate" class="col-md-6 control-label horizontal-control-label text-right">Fecha de
                        nacimiento</label>

                    <div class="col-md-4 input-group">
                        <div class="input-group">
                            <input type="text" class="form-control" id="birthdate" name="birthdate" uib-datepicker-popup
                                   is-open="clientForm.birthdateDatepicker.opened"
                                   ng-model="clientForm.client.birthdate"
                                   ng-pattern="/^(\d{2})\/(\d{2})\/(\d{4})$/">
                            <span class="btn btn-default input-group-addon"
                                  ng-click="clientForm.birthdateDatepicker.opened = true">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                        <div ng-messages="userForm.birthdate.$error" class="help-block" role="alert">
                            <div ng-messages-include="scripts/components/errors/errors.html"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group has-feedback" show-errors="{showSuccess: false}">
                    <label for="admissionDate" class="col-md-6 control-label horizontal-control-label text-right">Fecha
                        de alta</label>

                    <div class="col-md-4 input-group">
                        <div class="input-group">
                            <input type="text" class="form-control" id="admissionDate" name="admissionDate"
                                   uib-datepicker-popup
                                   is-open="clientForm.admissionDateDatepicker.opened"
                                   ng-model="clientForm.client.admissionDate"
                                   ng-pattern="/^(\d{2})\/(\d{2})\/(\d{4})$/">
                            <span class="btn btn-default input-group-addon"
                                  ng-click="clientForm.admissionDateDatepicker.opened = true">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                        <div ng-messages="userForm.admissionDate.$error" class="help-block" role="alert">
                            <div ng-messages-include="scripts/components/errors/errors.html"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="comments"
                           class="col-md-6 control-label horizontal-control-label text-right">Comentarios</label>

                    <div class="col-md-4 input-group">
                        <textarea type="text" class="form-control" id="comments"
                                  ng-model="clientForm.client.comments"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <a class="btn btn-cancel" ui-sref="clients.list">Volver</a>
                        <button class="btn btn-primary" ng-click="clientForm.saveClient()"
                                ng-disabled="clientForm.saveDisabled"><i class="fa fa-floppy-o"
                                                                         ng-hide="clientForm.saveDisabled"></i>
                            {{clientForm.saveBtnText}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

