<table class="table table-hover" st-table="passCtrl.data" st-pipe="passCtrl.search" ng-show="passCtrl.data.length">
    <thead>
    <tr>
        <th class="text-center sortable-header" st-sort="paymentDate">Fecha de pago</th>
        <th class="text-center sortable-header" st-sort="initialDate">Fecha de inicio</th>
        <th class="text-center">Actividad</th>
        <th class="text-center">Sesiones</th>
        <th class="text-center">Pendientes</th>
        <th class="text-center sortable-header" st-sort-default="reverse" st-sort="lastDate">Fecha fin</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="pass in passCtrl.data track by pass.id">
        <td class="vertical-middle text-center">{{pass.paymentDate | date:'dd/MM/yyyy'}}</td>
        <td class="vertical-middle text-center">{{pass.initialDate | date:'dd/MM/yyyy'}}</td>
        <td class="vertical-middle text-center">{{pass.passType.activity.name}}</td>
        <td class="vertical-middle text-center">{{pass.passType.numberOfSessions}}</td>
        <td class="vertical-middle text-center">{{passCtrl.getPendingSessions(pass)}}</td>
        <td class="vertical-middle text-center">{{pass.lastDate | date:'dd/MM/yyyy'}}</td>
        <td class="vertical-middle text-center">
            <a class="btn btn-lg" ng-click="passCtrl.openModal(pass)"><i class="fa fa-pencil"></i></a>
        </td>
    </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="text-center" st-pagination="" st-items-by-page="5" colspan="4"></td>
        </tr>
    </tfoot>
</table>
<h4 class="text-muted text-center" ng-if="!passCtrl.data.length">El cliente no tiene pagos registrados</h4>
<div class="row">
    <div class="col-md-12 text-right">
        <button ng-click="passCtrl.openModal()" class="btn btn-circle"><i class="fa fa-plus"></i></button>
    </div>
</div>